APP_ENV=dev

MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=fish_radar
MYSQL_USER=admin
MYSQL_PASSWORD=password

REDIS_HOST=redis
REDIS_PORT=6379

WEATHER_API_KEY=changeme
ASTRO_API_KEY=changeme

JWT_SECRET_KEY=super-dev-secret-change-me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXP_MINUTES=60